{% extends "tour/base.html" %}
{% block title %} {{ title }} {% endblock title %}
{% block content %}
<div class="row mt-5" data-test="cards">
{% for id, tour in tours.items %}
  <div class="col-4" data-test="card">
            <div class="card mb-3" >
            <img src="{{ tour.picture }}" class="rounded" data-test="picture" style="object-fit: cover; max-height:230px; ">
            <div class="card-body">
              <h5 class="card-title">{{ tour.title }}</h5>
             <p class="card-text">{{ tour.description|truncatewords:20 }}</p>
                <a href="{{ id }}" class="btn btn-sm btn-primary" data-test="tourlink">Подробнее</a>
            </div>
            </div>
    </div>
{% endfor %}
</div>

    

{% endblock content %}
